body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* background: linear-gradient(to right, #868f96 0%, #596164 100%); */
    background-image: url(/images/boxing5.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background:white;
    border-radius: 45px;
    padding: 21px;
    }

.center h1 {
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
    }
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    
    outline: none;

}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%);
    font-size: 21px;
    pointer-events: none;

}


.pass, .signup_link {
    padding: 6px 0;

}

.main-heading {
    text-align: center;
    font-size: 100px;
    color: white;
}

.sign-up {
    text-decoration: none;
    color: black;
}

p {
    font-size: 3em;
    text-align: center;
}